@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&family=Ubuntu:wght@300&display=swap');

@font-face {
    font-family: 'valentine';
    src: url('fonts/ValentineSoul.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    /* 
        format()
        
        - opentype (otf)
        - truetype (ttf)
        - embedded-opentype
        - truetype-aat (Apple Advanced Typography)
        - svg
    */
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    /*
        Medidas Absolutas
        cm, mm, in, px, pt, pc

        Medidas Relativas
        em, ex, rem, vw, vh, %
        16px geralmente = 1em
    */
    font-size: 2em;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    /*
        weight width height
        Peso Largura Altura
    */
}
p {
    font: normal normal 1em "Playwrite AU TAS", cursive;
    /* 
        shorthand font
        font-style -> font-weiht -> font size -> font-family 
    */
}
h2 {
    font-family: 'valentine', cursive;
    font-size: 3em;
    font-weight: normal;
    font-style: normal;
}